<launch>

    <rosparam param="mavros/system_id">1</rosparam>
    <rosparam param="mavros/component_id">240</rosparam>
    
    <node name="failsafe_mode" pkg="rasendriya" type="failsafe_mode" output="screen"/>
    
    <!-- 
    this argument determines the video address of camera (usually /dev/video0).
    You can check by writing v4l2-ctl list-devices in terminal 
    -->
    <arg name="camera_num" default="0" />
    <node name="vision_dropzone" pkg="rasendriya" type="vision_dropzone.py" args="$(arg camera_num)" output="screen"/>
    
    <!-- 
    this argument determines the calculation dropping mode
    | Camera Projection Modes |
    calc_mode:=1 projectile motion calculator is not used
    calc_mode:=2 projectile motion calculator is used
    | Non-camera Projection Modes |
    calc_mode:=3 projectile motion calculator is not used 
    calc_mode:=4 projectile motion calculator is used
    -->
    <arg name="calc_mode" default="4" />
    <param name="/rasendriya/dropping_offset" value="3" />
    <param name="/rasendriya/dropping_altitude" value="8" />
    <param name="/rasendriya/drag_coefficient" value="0.6" />
    <param name="/rasendriya/calc_mode" value="$(arg calc_mode)" />
    <node name="mission_control" pkg ="rasendriya" type="mission_control" output="screen"/>

    <!-- <include file="$(find mavros)/launch/apm.launch"/> -->
    
</launch>
